#footer
  .footer-columns
    .footer-column
      .footer-header Company
      .footer-text-link= link_to "About", "http://www.collectib.ly/about"
      .footer-text-link= link_to "Blog", "http://blog.collectib.ly"
      .footer-text-link= link_to "Terms", "http://www.collectib.ly/about/terms"
      .footer-text-link= link_to "Privacy", "http://www.collectib.ly/about/privacy"
    .footer-column
      .footer-header Discover
      .footer-text-link= link_to "Members", "http://www.collectib.ly/explore/people"
      .footer-text-link= link_to "Collections", "http://www.collectib.ly/explore/collections"
      .footer-text-link= link_to "Items", "http://www.collectib.ly/explore/items/recent"
    .footer-column
      .footer-header More
      .footer-text-link= link_to "Collectible Guides", "http://guides.collectib.ly"
      .footer-text-link= link_to "Contributors", "http://www.collectib.ly/about/contributors"
      
    .footer-column
      .footer-header.follow Community
      .footer-contact
        = link_to "http://blog.collectib.ly", target: "_blank" do
          .icon.inline{data: {title: "Read and follow our blog"}}
            %i.fa.fa-tumblr
        
        = link_to "http://www.facebook.com/collectibly", target: "_blank" do  
          .icon.inline{data: {title: "Like our Facebook page"}}
            %i.fa.fa-facebook
        
        = link_to "http://twitter.com/intent/user?screen_name=collectibly", target: "_blank" do  
          .icon.inline{data: {title: "Follow us on Twitter"}}
            %i.fa.fa-twitter
        
        = link_to "mailto:team@collectib.ly", target: "_blank" do
          .icon.inline{data: {title: "Email us"}}
            %i.fa.fa-envelope-o
  
      .footer-brand 
        Collectibly 2014
        © Zestyl Pte. Ltd.